@font-face {
  font-family: textFont;
  src: url(WixMadeforDisplay-VariableFont_wght.ttf);
  font-style: normal;
  font-weight: 400;
}

:root {
  --color_primary: #222626;
  --color_secondary: #111313;
  --color_inverse: #F6F8F8;
  --color_accent: #AABCBE;
  --size_font6: calc(var(--size_font12)/2);
  --size_font8: calc(var(--size_font12)/1.5);
  --size_font10: calc(var(--size_font12)/1.2);
  --size_font12: var(--size12);
  --size_font16: calc(var(--size_font12)/0.75);
  --size_font24: calc(2*var(--size_font12));
  --size_font48: calc(2*var(--size_font24));

  --size4: max(0.6vw, 0.6vh);
  --size8: calc(var(--size4)*2);
  --size12: calc(var(--size4)*3);
  --size16: calc(var(--size4)*4);
  --size20: calc(var(--size4)*5);
  --size24: calc(var(--size4)*6);
  --size28: calc(var(--size4)*7);
  --size32: calc(var(--size4)*8);
  --size36: calc(var(--size4)*9);
  --size40: calc(var(--size4)*10);
  --size44: calc(var(--size4)*11);
  --size48: calc(var(--size4)*12);
  --size52: calc(var(--size4)*13);
  --size56: calc(var(--size4)*14);
  --size60: calc(var(--size4)*15);
  --size64: calc(var(--size4)*16);
  --size68: calc(var(--size4)*17);
  --size72: calc(var(--size4)*18);

  --size_border0: calc(var(--size4)/4);
  --size_border1: calc(var(--size4)/3);
  --size_border2: calc(var(--size4));

  --size_border_iconL: calc(var(--size4)/4);
  --size_border_iconM: calc(var(--size4)/3);
  --size_border_iconS: calc(var(--size4)/2.5);
  --size_border_iconThin: calc(var(--size4)/1.5);
  --size_border_icon_precip: var(--size4);
}

*, html, body, h1, h2, h3, h4, h5, h6, a, img, ul, ol, li, div, span, b, time, mark,
u, p, input, label, textarea, select, option {
  color: var(--color_inverse);
  font-family: textFont;
  font-size: var(--size_font12);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative;
  border: 0;
  vertical-align: top;
  z-index: auto;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--color_primary)
}

.main {
  width: 100%;
  height: 100%;
  padding: var(--size16);
}

.text_h1 {
  font-size: var(--size_font48);
}
.text_h2 {
  font-size: var(--size_font24);
}
.text_h3 {
  font-size: var(--size_font16);
}
.text_small {
  font-size: var(--size_font10);
}
.text_small_dop {
  font-size: var(--size_font8);
}
.text_mini {
  font-size: var(--size_font6);
}
.text_accent {
  color: var(--color_accent);
}
.text_opact {
  opacity: 0.5;
}

.flex_row {
  display: flex;
  flex-direction: row;
}
.flex_col {
  display: flex;
  flex-direction: column;
}
.flex_row.centered,
.flex_col.centered {
  align-items: center;
}

.divider {
  width: calc(100% + var(--size32));
  left: calc(-1*var(--size16));
  height: var(--size_border0);
  background-color: var(--color_secondary);
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section.short_view {
  gap: var(--size16);
}

.short_view .city {
  width: 40%;
}

.item_line {
  justify-content: space-between;
  gap: var(--size32);
  padding: var(--size12) 0;
  cursor: pointer;
}

.item_line .left_part {
  width: 70%;
  justify-content: space-between;
}

.item_line .right_part {
  width: 30%;
  justify-content: flex-end;
}

.item_line .temperature *,
.item_main .temperature * {
  line-height: 1.1;
}

.item_line .temperature .limit,
.item_main .temperature .limit {
  justify-content: space-between;
}

.item_line .stats {
  gap: var(--size16);
}

.item_line .stats .text_small::after,
.item_main .wind .text_small::after {
  content: 'm/s';
  font-size: var(--size_font6);
  padding-left: var(--size_border2);
}

.item_days_list .wind .direction {
  gap: var(--size_border2);
  min-width: var(--size12);
}

.scroll_line {
  gap: var(--size16);
  margin-bottom: var(--size16);
  overflow-y: hidden;
  overflow-x: auto;
}

.scroll_line .item_scroll_line .icon_scroll_line {
  margin: var(--size4) 0 var(--size8) 0;
}

.scroll_line .item_scroll_line.arrow {
  justify-content: center;
}

.item_main .city ~ .scroll_line {
  margin-top: var(--size24);
}

.item_main .city_stats {
  justify-content: space-between;
}

.item_main .wind {
  gap: var(--size8);
  margin-bottom: var(--size8);
}

.days_list {
  margin-top: var(--size16);
  gap: var(--size16);
}

.item_days_list {
  gap: var(--size24);
}

.item_days_list .right_part {
  justify-content: space-between;
}

.item_days_list .day_name {
  width: 20%;
}
.item_days_list .right_part {
  width: 80%;
}

.item_days_list .wind {
  gap: var(--size8);
}

.item_days_list .wind .power::after {
  content: 'm/s';
  display: block;
  font-size: var(--size_font8);
  color: var(--color_accent);
}

.item_days_list .temperature {
  align-items: flex-end;
  gap: var(--size4);
}

svg#icons_all {
  visibility: hidden;
  display: none;
  width: 0;
  height: 0;
}

svg * {
  stroke-linecap: butt;
  stroke-linejoin: miter;
}

.icon_big {
  width: var(--size64);
  height: var(--size64);
  stroke-width: var(--size_border_iconL);
}
.icon_normal {
  width: var(--size40);
  height: var(--size40);
  stroke-width: var(--size_border_iconM);
}
.icon_small {
  width: var(--size16);
  height: var(--size16);
  stroke-width: var(--size_border_iconS);
}
.icon_compas {
  width: var(--size8);
  height: var(--size8);
  transform-box: fill-box;
  transform-origin: center;
}
.icon_navigation {
  width: var(--size24);
  height: var(--size24);
  stroke-width: var(--size_border_iconS);
}
.icon_backspace {
  width: var(--size12);
  height: var(--size12);
  stroke-width: var(--size_border_iconThin);
}

.icon_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_opact {
  opacity: 0.8;
}

.icon_wrap svg {
  stroke: var(--color_accent);
  height: 100%;
  width: 100%;
  fill: transparent;
}

.icon_wrap.icon_fill svg {
  fill: var(--color_accent);
}
.icon_wrap.icon_night svg {
  fill: var(--color_secondary);
}

.icon_with_precip .icon_main {
  position: absolute;
}

.icon_with_precip .icon_main,
.icon_with_precip .icon_precip {
  width: 100%;
  height: 100%;
}

.icon_with_precip .icon_precip {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.icon_precip svg {
  width: 25%;
  height: 25%;
  stroke-width: var(--size_border_icon_precip);
}

.icon_double .icon_wrap {
  position: absolute;
  width: 70%;
  height: 70%;
}

.icon_double .icon_wrap:nth-child(1) {
  top: 0;
  left: 0;
}

.icon_double .icon_wrap:nth-child(2) {
  bottom: 0;
  right: 0;
  background-color: var(--color_primary);
  border-radius: 50%;
}

.icon_tripple .icon_wrap {
  position: absolute;
  width: 60%;
  height: 60%;
}

.icon_tripple .icon_wrap:nth-child(1) {
  top: 0;
  left: 0;
}

.icon_tripple .icon_wrap:nth-child(2) {
  top: 0;
  right: 0;
  background-color: var(--color_primary);
  border-radius: 50%;
}

.icon_tripple .icon_wrap:nth-child(3) {
  bottom: 0;
  left: 20%;
  background-color: var(--color_primary);
  border-radius: 50%;
}

.navigation {
  justify-content: space-between;
  margin-bottom: var(--size12);
  gap: var(--size16);
}

.navigation * {
  cursor: pointer;
}

.navigation .pages {
  gap: var(--size8);
}

.navigation .pages #selected_page svg {
  fill: var(--color_accent);
  opacity: 0.5;
}

#add_view .navigation .icon_add {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(45deg);
}

.navigation .search_section {
  width: 100%;
}

.navigation .search_section .search_field,
.navigation .search_section .search_result_list {
  width: 100%;
  background-color: var(--color_secondary);
  border-radius: var(--size8);
  color: var(--color_primary);
}

.navigation .search_field {
  height: 100%;
  padding: 0 var(--size24) 0 var(--size12);

}

.navigation .search_field .icon_backspace {
  visibility: hidden;
  position: absolute;
  right: var(--size8);
  cursor: pointer;
}

.navigation .search_field input:not([value=""]) ~ .icon_backspace {
  visibility: visible;
}

.navigation .search_field input {
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  width: 100%;
}

.navigation .search_field input:focus-visible {
  outline: none;
}

.navigation .search_result_list {
  position: absolute;
  z-index: 99;
  top: 100%;
  padding: var(--size12);
  gap: var(--size8);
}

.navigation .search_result_list .divider {
  width: 100%;
  left: 0;
  background-color: var(--color_primary);
}
